#trybewarts-forms-logo {
  height: 500px;
}

.main-principal {
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}

.main-secundario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-secundario .infos {
  padding: 0 50px;
  width: 100%;
}

.main-secundario img {
  width: 100%;
  height: 500px;
}

.disabled {
  display: none;
}

body {
  margin: 0 auto;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header input::placeholder {
  padding: 10px;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #537188;
  height: 70px;
}

.header img {
  width: 60px;
  height: 60px;
  max-width: auto;
  max-height: auto;
  margin-left: 10px;
}

.header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: white;
}

.header div {
  margin-right: 30px;
}

.header input {
  border: none;
  margin-right: 20px;
  height: 40px;
  border-radius: 5px;
}

.header button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #cbb279;
  color: white;
  text-transform: uppercase;
  width: 80px;
}

main {
  display: flex;
  justify-content: space-evenly;
  background-color: #eee;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.form-name-info input {
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: #e1d4bb;
}

.form-name-info input::placeholder {
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.form-name-info select {
  background-color: #e1d4bb;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  width: 255px;
}

.div-email-house {
  display: flex;
  align-items: center;
  gap: 5px;
}

.div-email-house p {
  font-weight: 550;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.line {
  border: 0,75px solid #537188;
  height: 0px;
  margin: 50px;
  width: 500px;
}

.family-tech {
  align-items: center;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
  gap: 30px;
  justify-content: space-around;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.family p {
  margin-bottom: 10px;
}

.tech-checkbox {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 5px;
}

.grade {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
  align-items: center;
  gap: 15px;
}

.counter {
  display: flex;
}

.observations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-coment label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
}

.div-coment textarea {
  width: 500px;
}

.last-button button {
  margin-top: 20px;
  height: 40px;
  border: 1px solid white;
  background-color: #cbb279;
  border-radius: 5px;
  /* color: white; */
  text-transform: uppercase;
  width: 80px;
}

.image {
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

#form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 50px;
  background-color: #a9907e;
  color: white;
  border-radius: 10px;
  width: 35%;
}

.card {
  display: flex;
  flex-grow: 4;
  align-items: center;
  justify-content: center;
}

#form-data:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main-secundario #lunatico{
  margin-top: 10px;
  margin-bottom: 0px;
}

.main-secundario #observacao {
  margin-top: 5px;
}